.container{
    max-width: 1000px;
}
table{
    
    border-color: grey;
    width: 70%;
}
td {
    padding: 15px;
    border: 2px solid white;
    vertical-align: middle;
}
td.title {
    width: 60%;
    background-color: #eee;
}
td.date {
   background-color: rgb(219, 216, 216);  
}
#tableLink{
    color: #000;
}
/* //////////////////////////////////////////// */

ul {
    list-style: none;
    font-size: 1em;
}
a.listLink{
    text-decoration: none;
    color: rgb(46, 44, 44);
}
.left {
    width: 30%
}
.right{
    width: 70%;
}